body {
    background-color: #1d7a7a;
}

h1 {
    color: #000000 !important;
    text-align: center;
    font-size: 60px;
    font-weight: 900;
    /* height: 80px;
    background-color: #71c4b2; */
}

h2 {
    text-align: center;
}

#btnPinNote {
    margin-left: 23px;
    background: none;
    border: none;
    border-left: 1px solid black;
    border-right: 1px solid black;
    cursor: pointer;

}

#btnPinNote:hover {
    background-color: green;
}

/* ---------------- class -----------------*/
.container {
    float: left;
    margin-left: 25px;
    margin-top: 2px;
    position: relative;
    margin-bottom: 20px;
    background-color: .00FFFF;
    max-width: 200px;

}

.title {
    background-color: transparent;
    border-style: groove;
}

.textareaTitle {
    font-size: 25 px;
    max-width: 194px;
    min-width: 194px;
    min-height: 60px;
    background: transparent;
    border: none;
    resize: none;
}


.note {
    background-color: transparent;
    min-height: 140px;
    border-bottom: none;
    border-style: groove;
    border-top: none;
}

.deleteBtn {
    background-color: red;
    height: 25px;
    width: 204px;
}

.saveBtn {
    background-color: red;
    height: 25px;
    width: 204px;

}

.textareaNote {
    background: transparent;
    border: none;
    min-height: 200px;
    max-width: 190px;
    min-width: 190px;
    resize: none;

}

.clock {
    border-top: none;
    border-style: groove;

    height: 17px;
}

.time {
    float: left;
    margin-left: 4px;
}

.date {
    text-align: right;
    margin-right: 4px;
}


#checkbox {

    content: "\2714";
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: bottom;
    color: transparent;
}

input[type=checkbox]:before {
    content: "\2714";
    border: 0.1em solid #000;
    border-radius: 0.2em;
    display: inline-block;
    width: 1em;
    height: 1em;
    padding-left: 0.2em;
    padding-bottom: 0.3em;
    margin-right: 0.2em;
    vertical-align: bottom;
    color: transparent;
    transition: .2s;
}

input[type=checkbox]:active:before {
    transform: scale(0);
}

input[type=checkbox]:checked:before {
    background-color: MediumSeaGreen;
    border-color: MediumSeaGreen;
    color: #fff;
}

input {
    margin-left: 30px;
}


#options {
    margin-top: 0px;
    /* position: relative; */
}

#color {
    background-color: black;
    border-radius: 10px;
    margin-left: 20px;
    border: black;
}




#all {
    position: relative;

    float: left;
    min-height: 300px;
    background-color: #2A9DAD;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    border-style: groove;
    min-width: 250px;
    margin-top: 100px;
    margin-left: 50px;
}


#pinNote {
    float: left;
    margin-top: 20px;
    margin-left: 20px;
}



#pushDiv {
    float: left;
    /* background-color: red; */
    width: 1000px;
    height: 700px;
}

#pushTop {
    /* background-color: green; */
    min-height: 300px;
    min-width: 250px;
    margin-left: 50px;
    min-width: 1000px;
    justify-content: space-between;
    display: flex;

}

#pushDown {
    /* background-color: yellow; */
    min-height: 350px;
    min-width: 200px;
    min-width: 1000px;
    justify-content: space-between;
    margin-left: 50px;
    display: flex;
    margin-top: 100px;
    min-height: 300px;

}