body {
    background-color: #34aeeb;
}

h1 {
    color: #362e3b !important;
    text-align: center;
    font-size: 60px;
    font-weight: 900;
    height: 80px;
    background-color: #3483eb;

}

#btnPinNote {
    margin-left: 23px;
    background: none;
    border: none;
    border-left: 1px solid black;
    border-right: 1px solid black;
    cursor: pointer;

}

#btnPinNote:hover {
    background-color: green;
}




#checkbox {

    content: "\2714";
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: bottom;
    color: transparent;
}



input[type=checkbox]:before {
    content: "\2714";
    border: 0.1em solid #000;
    border-radius: 0.2em;
    display: inline-block;
    width: 1em;
    height: 1em;
    padding-left: 0.2em;
    padding-bottom: 0.3em;
    margin-right: 0.2em;
    vertical-align: bottom;
    color: transparent;
    transition: .2s;
}

input[type=checkbox]:active:before {
    transform: scale(0);
}

input[type=checkbox]:checked:before {
    background-color: MediumSeaGreen;
    border-color: MediumSeaGreen;
    color: #fff;
}




input {
    margin-left: 30px;
}

#options {


    margin-top: 20px;
    position: relative;
}

#color {
    background-color: black;
    border-radius: 10px;
    margin-left: 20px;
    border: black;

}



#container {

    float: left;
    margin-left: 20px;
    margin-top: 2px;
    position: relative;
    margin-bottom: 20px;

    background-color: .00FFFF;
}



#title {
    background-color: transparent;
    min-width: 150px;
    max-width: 150px;
    min-height: 30px;
    border-style: groove;

}




#note {
    background-color: transparent;
    min-width: 150px;
    max-width: 150px;
    min-height: 140px;
    border-bottom: none;
    border-style: groove;
    border-top: none;
}


#pinNote {
    float: left;
    margin-top: 20px;
    margin-left: 20px;
}



#clock {
    border-top: none;
    border-style: groove;

    height: 17px;
}

#time {
    float: left;
    margin-left: 4px;
}

#date {
    text-align: right;
    margin-right: 4px;
}

#all {
    float: left;
    min-height: 300px;
    background-color: #2A9DAD;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    border-style: groove;
    min-width: 200px;
    float: left;

    margin-top: 100px;
    margin-left: 50px;
}

#pushTop {

    float: left;
    min-width: 200px;
    min-height: 200px;

    margin-left: 50px;
}

/* #pushDown {

min-height: 300px;
min-width: 200px;

clear: both;

margin-left: 306px;
margin-top: 10px;

} */