body {
    background-color: #34aeeb;
}

h1 {
    color: #362e3b !important;
    text-align: center;
    font-size: 60px;
    font-weight: 900;
    height: 80px;
    background-color: #3483eb;

}

#btnPinNote {
    background: none;
    border: none;
    border-left: 1px solid black;
    border-right: 1px solid black;
    opacity: 0.4;
    cursor: pointer;

}

#btnPinNote:hover {
    opacity: 1;
    /* border-style: outset; */
    /* cursor: pointer; */

}


#checkbox {
    margin-left: 25px;
    display: none;
    margin-bottom: 2px;
    display: block;
    cursor: pointer;

}

#checkbox {
    content: "\2714";

    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: bottom;
    color: transparent;
}





input[type=checkbox]:before {
    content: "\2714";
    border: 0.1em solid #000;
    border-radius: 0.2em;
    display: inline-block;
    width: 1em;
    height: 1em;
    padding-left: 0.2em;
    padding-bottom: 0.3em;
    margin-right: 0.2em;
    vertical-align: bottom;
    color: transparent;
    transition: .2s;
}

input[type=checkbox]:active:before {
    transform: scale(0);
}

input[type=checkbox]:checked:before {
    background-color: MediumSeaGreen;
    border-color: MediumSeaGreen;
    color: #fff;
}



/* #checkbox:hover {
    background-color: #2196F3;
} */

input {
    margin-left: 30px;
}

#options {

    margin-left: 20px;
    margin-top: 20px;
    position: relative;
}

#color {
    background-color: black;
    border-radius: 10px;
    margin-left: 25px;
    border: black;

}


#container {
    /* width: 150px;
    height: 250px; */
    /* border: 3px solid black; */
    float: left;
    margin-left: 20px;
    margin-top: 2px;
    position: relative;
    margin-bottom: 20px;
    ;
    background-color: #00FFFF;
}

#title {
    /* width: 150px;
    height: 40px; */
    /* margin-bottom: ; */
    border-style: groove;
    /* background-color: #0331fc; */


}

#title textarea {
    background-color: transparent;
    min-width: 150px;
    max-width: 150px;
    min-height: 30px;
}

#note {
    /* width: 150px;
    height: 250px; */
    border-style: groove;
    border-top: none;
    /* border: 3px solid black; */
    /* background-color: #0398fc; */
    border-bottom: none;

}

textarea {
    border: transparent;
}

#note textarea {
    background-color: transparent;
    min-width: 150px;
    max-width: 150px;
    min-height: 140px;

}


#pinNote {
    float: left;
    margin-top: 20px;
    margin-left: 20px;
}



#clock {
    border-top: none;
    border-style: groove;

    /* border: 3px solid black; */
    height: 17px;
}

#time {
    float: left;
    margin-left: 4px;
}

#date {
    /* float: left; */
    text-align: right;
    margin-right: 4px;
}

#all {
    float: left;
    min-height: 300px;
    background-color: #2A9DAD;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    border-style: groove;
    min-width: 200px;
    float: left;
    /* padding: 20px; */
    margin-top: 100px;
    margin-left: 50px;
}

#pushTop {
    /* background-color: green;
    border: 3px solid black; */
    float: left;
    min-width: 200px;
    min-height: 200px;

    margin-left: 50px;
}

#pushDown {
    /* background-color: blue;
    border: 3px solid black; */
    min-height: 300px;
    min-width: 200px;
    /* vertical-align: bottom; */
    clear: both;
    /* float: left; */
    margin-left: 306px;
    margin-top: 10px;

}