body {
    background: lightslategrey;
}

#canvas {
    background: #fff;
    margin: 30px auto;
    position: relative;

}

.darken {
    float: left;
}

.brightnes {
    float: left;
}

#filtry {
    float: left;

    border: 3px solid black;
}

.brush {
    width: 10px;
    height: 10px;
    background: red;
    position: absolute;
    transform: translate(-50%, -50%);
}

.circle-brush {
    border-radius: 50%;
}

button {
    display: inline-block;
}